extends layout
block mainbody
    #mainbody
        section#mainbodyitems
            h3 Alice &amp; Bob
            p 1344 Chattanooga Way
            p Homestead, VT 05401
            p (802) 555-5555