extends layout
block mainbody
    #mainbody
        section#mainbodyitems
            h3 Alice's Recipes
            p
                b No-knead next-day dutch oven bread
            p.ingredient 1/4 tsp active dry yeast
            p.ingredient 3 cups all-purpose flour
            p.ingredient 1 1/2 tsp salt
            p.ingredient Cornmeal or wheat bran for dusting
            p In a large bowl, dissolve yeast in water.
            p Add the flour and salt, stirring until blended.
            p Cover bowl. Let rest at least 8 hours, preferably 12 to 18, at warm room temperature, about 70 degrees.
            p When the surface of the dough is dotted with bubbles, it's ready to be folded. Lightly flour a work surface. Sprinkle flour on the dough and fold it over on itself once or twice. Cover loosely and let it rest about 15 minutes.
            p Using just enough flour to keep the dough from sticking, gently shape it into a ball. Generously coat a clean dish towel with flour, wheat bran, or cornmeal. Put the seam side of the dough on the towel. Cover with another towel and let rise for 1 to 2 hours.
            p Heat oven to 475&deg;. Cover and bake for 30 minutes.