extends layout
block mainbody
    #mainbody
        section#mainbodyitems
            h3 Alice's Tips
            p Always rise before the sun.
            p Never use fake maple syrup.
            p If the bear is black, be loud, attack.
            p If the bear is brown, play dead, lie down.